## Imports

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error, mean_squared_error, max_error, median_absolute_error, r2_score, explained_variance_score

In [ ]:
# train.csv
train_df = pd.read_csv("https://drive.google.com/uc?id=1h-vNpZ0RJnsuLxCTs0qc80jwGNrGeX49")
train_df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [ ]:
# test.csv
test_df = pd.read_csv("https://drive.google.com/uc?id=1i01pfTSwINi_SBEZhZCG_oZ8C2s6zqWa")
test_df.head()

   id        date  store  item
0   0  2018-01-01      1     1
1   1  2018-01-02      1     1
2   2  2018-01-03      1     1
3   3  2018-01-04      1     1
4   4  2018-01-05      1     1

In [ ]:
# sample_submission.csv
sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df.head()

   id  sales
0   0     52
1   1     52
2   2     52
3   3     52
4   4     52

Exploration

In [ ]:
train_df.store.value_counts()

1     91300
2     91300
3     91300
4     91300
5     91300
6     91300
7     91300
8     91300
9     91300
10    91300
Name: store, dtype: int64

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 913000 entries, 0 to 912999
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   store   913000 non-null  int64
 1   item    913000 non-null  int64
 2   sales   913000 non-null  int64
 3   year    913000 non-null  int64
 4   month   913000 non-null  int64
 5   day     913000 non-null  int64
dtypes: int64(6)
memory usage: 41.8 MB

In [ ]:
train_df.isnull().sum().sum()

0

In [ ]:
test_df.store.value_counts()

1     4500
2     4500
3     4500
4     4500
5     4500
6     4500
7     4500
8     4500
9     4500
10    4500
Name: store, dtype: int64

In [ ]:
test_df.isnull().sum().sum()

0

## Data Preparation

In [ ]:
# extract d,m,y for time series forecasting
# train data

import datetime as dt
train_df['date'] = pd.to_datetime(train_df['date'])

train_df['year'] = train_df['date'].dt.year
train_df['month'] = train_df['date'].dt.month
train_df['day'] = train_df['date'].dt.dayofweek

train_df.drop('date', axis=1, inplace=True)
train_df.head()

   store  item  sales  year  month  day
0      1     1     13  2013      1    1
1      1     1     11  2013      1    2
2      1     1     14  2013      1    3
3      1     1     13  2013      1    4
4      1     1     10  2013      1    5

In [ ]:
train_df.year.value_counts()

2016    183000
2013    182500
2014    182500
2015    182500
2017    182500
Name: year, dtype: int64

In [ ]:
train_df.month.value_counts()

1     77500
3     77500
5     77500
7     77500
8     77500
10    77500
12    77500
4     75000
6     75000
9     75000
11    75000
2     70500
Name: month, dtype: int64

In [ ]:
train_df.day.value_counts()

1    130500
2    130500
3    130500
4    130500
5    130500
6    130500
0    130000
Name: day, dtype: int64

In [ ]:
train_df.item.value_counts().sort_index()

1     18260
2     18260
3     18260
4     18260
5     18260
6     18260
7     18260
8     18260
9     18260
10    18260
11    18260
12    18260
13    18260
14    18260
15    18260
16    18260
17    18260
18    18260
19    18260
20    18260
21    18260
22    18260
23    18260
24    18260
25    18260
26    18260
27    18260
28    18260
29    18260
30    18260
31    18260
32    18260
33    18260
34    18260
35    18260
36    18260
37    18260
38    18260
39    18260
40    18260
41    18260
42    18260
43    18260
44    18260
45    18260
46    18260
47    18260
48    18260
49    18260
50    18260
Name: item, dtype: int64

In [ ]:
train_df.sales.value_counts().sort_index()

0        1
1        4
2       25
3       91
4      215
      ...
208      1
209      1
210      1
214      1
231      1
Name: sales, Length: 213, dtype: int64

In [ ]:
sales = train_df.pop('sales') # extract sales col for target class
sales.head()

0    13
1    11
2    14
3    13
4    10
Name: sales, dtype: int64

In [ ]:
# extract d,m,y for time series forecasting
# test data
test_df['date'] = pd.to_datetime(test_df['date'])

test_df['year'] = test_df['date'].dt.year
test_df['month'] = test_df['date'].dt.month
test_df['day'] = test_df['date'].dt.dayofweek

test_df.drop('date', axis=1, inplace=True)
test_df.head()

   id  store  item  year  month  day
0   0      1     1  2018      1    0
1   1      1     1  2018      1    1
2   2      1     1  2018      1    2
3   3      1     1  2018      1    3
4   4      1     1  2018      1    4

In [ ]:
# drop id column before predicting
test_df.drop('id', axis=1, inplace=True)

In [ ]:
test_df.year.value_counts()

2018    45000
Name: year, dtype: int64

In [ ]:
test_df.item.value_counts().sort_index()

1     900
2     900
3     900
4     900
5     900
6     900
7     900
8     900
9     900
10    900
11    900
12    900
13    900
14    900
15    900
16    900
17    900
18    900
19    900
20    900
21    900
22    900
23    900
24    900
25    900
26    900
27    900
28    900
29    900
30    900
31    900
32    900
33    900
34    900
35    900
36    900
37    900
38    900
39    900
40    900
41    900
42    900
43    900
44    900
45    900
46    900
47    900
48    900
49    900
50    900
Name: item, dtype: int64

# Baseline ML Models

In [ ]:
train_df = pd.read_csv("https://drive.google.com/uc?id=1h-vNpZ0RJnsuLxCTs0qc80jwGNrGeX49")

# Split train_df into 2 parts for testing purposes
val = train_df.loc[(train_df["date"] >= "2017-01-01") & (train_df["date"] < "2017-04-01"), :] # First 3 months of 2017
train = pd.concat([train_df, val, val]).drop_duplicates(keep=False) # everything else not in the 3 months

# x labels
train['date'] = pd.to_datetime(train['date'])
train['year'] = train['date'].dt.year
train['month'] = train['date'].dt.month
train['day'] = train['date'].dt.dayofweek
train.drop('date', axis=1, inplace=True)

val['date'] = pd.to_datetime(val['date'])
val['year'] = val['date'].dt.year
val['month'] = val['date'].dt.month
val['day'] = val['date'].dt.dayofweek
val.drop('date', axis=1, inplace=True)

# y labels
sales_train = train.pop('sales') # extract sales col for target class
sales_val = val.pop('sales') # extract sales col for target class

# test df
test_df = pd.read_csv("https://drive.google.com/uc?id=1i01pfTSwINi_SBEZhZCG_oZ8C2s6zqWa")
test_df['date'] = pd.to_datetime(test_df['date'])
test_df['year'] = test_df['date'].dt.year
test_df['month'] = test_df['date'].dt.month
test_df['day'] = test_df['date'].dt.dayofweek
test_df.drop('date', axis=1, inplace=True)
test_df.drop('id', axis=1, inplace=True)

In [ ]:
print(train.shape, val.shape, test_df.shape)

(868000, 5) (45000, 5) (45000, 5)

In [ ]:
def regression_report(y_true, y_pred):
    metrics = [('SMAPE', (100/len(y_pred) * np.sum(2 * np.abs(y_true - y_pred) / (np.abs(y_pred) + np.abs(y_true))))),
               ('MAE', mean_absolute_error(y_true, y_pred)),
               ('Median Absolute Error', median_absolute_error(y_true, y_pred)),
               ('Mean Squared Error', mean_squared_error(y_true, y_pred)),
               ('Max Error', max_error(y_true, y_pred)),
               ('R2 Score', r2_score(y_true, y_pred)),
               ('Explained Variance Score', explained_variance_score(y_true, y_pred))]

    # Init scoring metrics
    regression_report_df = pd.DataFrame(columns=['Metric Name', 'Score'])

    for name, score in metrics:
      regression_report_df = regression_report_df.append({'Metric Name': name, 'Score': score}, ignore_index=True)
      
    regression_report_df['Score'] = regression_report_df.Score.round(3)

    return regression_report_df

## Catboost

In [ ]:
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error as mse

model = CatBoostRegressor(max_depth=10, loss_function='RMSE', n_estimators = 200, eta = 0.3, random_seed=1)
model.fit(train.values, sales_train.values, verbose=True, early_stopping_rounds = 20, eval_set=(val.values, sales_val.values))

0:	learn: 25.5508294	test: 22.0294744	best: 22.0294744 (0)	total: 147ms	remaining: 29.3s
1:	learn: 23.5569327	test: 20.0034748	best: 20.0034748 (1)	total: 307ms	remaining: 30.4s
2:	learn: 21.9270142	test: 18.7698309	best: 18.7698309 (2)	total: 446ms	remaining: 29.3s
3:	learn: 20.8556084	test: 17.8652701	best: 17.8652701 (3)	total: 586ms	remaining: 28.7s
4:	learn: 19.8948580	test: 17.1182411	best: 17.1182411 (4)	total: 744ms	remaining: 29s
5:	learn: 18.9128838	test: 16.1631390	best: 16.1631390 (5)	total: 875ms	remaining: 28.3s
6:	learn: 18.1926212	test: 15.4094859	best: 15.4094859 (6)	total: 1.02s	remaining: 28.1s
7:	learn: 17.6572749	test: 14.9678126	best: 14.9678126 (7)	total: 1.17s	remaining: 28s
8:	learn: 16.4071182	test: 13.7564503	best: 13.7564503 (8)	total: 1.32s	remaining: 28.1s
9:	learn: 15.3101600	test: 12.6974150	best: 12.6974150 (9)	total: 1.46s	remaining: 27.7s
10:	learn: 14.5357008	test: 11.9557628	best: 11.9557628 (10)	total: 1.6s	remaining: 27.5s
11:	learn: 14.0640542	test: 11.4494657	best: 11.4494657 (11)	total: 1.75s	remaining: 27.4s
12:	learn: 13.6168678	test: 11.1725844	best: 11.1725844 (12)	total: 1.9s	remaining: 27.3s
13:	learn: 13.2161938	test: 10.7483398	best: 10.7483398 (13)	total: 2.04s	remaining: 27s
14:	learn: 12.8978179	test: 10.4263809	best: 10.4263809 (14)	total: 2.18s	remaining: 26.9s
15:	learn: 12.4490891	test: 9.9908123	best: 9.9908123 (15)	total: 2.33s	remaining: 26.8s
16:	learn: 12.2544547	test: 9.8095755	best: 9.8095755 (16)	total: 2.47s	remaining: 26.6s
17:	learn: 12.0163442	test: 9.6696275	best: 9.6696275 (17)	total: 2.61s	remaining: 26.4s
18:	learn: 11.6899645	test: 9.3994931	best: 9.3994931 (18)	total: 2.77s	remaining: 26.3s
19:	learn: 11.5065383	test: 9.3192498	best: 9.3192498 (19)	total: 2.9s	remaining: 26.1s
20:	learn: 10.9744570	test: 9.1046895	best: 9.1046895 (20)	total: 3.05s	remaining: 26s
21:	learn: 10.8559107	test: 9.0480802	best: 9.0480802 (21)	total: 3.2s	remaining: 25.9s
22:	learn: 10.5493797	test: 8.7601522	best: 8.7601522 (22)	total: 3.35s	remaining: 25.8s
23:	learn: 10.4209019	test: 8.6295370	best: 8.6295370 (23)	total: 3.49s	remaining: 25.6s
24:	learn: 10.1635878	test: 8.4140861	best: 8.4140861 (24)	total: 3.65s	remaining: 25.6s
25:	learn: 10.0200540	test: 8.3118129	best: 8.3118129 (25)	total: 3.79s	remaining: 25.4s
26:	learn: 9.9474236	test: 8.2983466	best: 8.2983466 (26)	total: 3.94s	remaining: 25.2s
27:	learn: 9.8002590	test: 8.2002396	best: 8.2002396 (27)	total: 4.08s	remaining: 25s
28:	learn: 9.6654485	test: 8.1117757	best: 8.1117757 (28)	total: 4.22s	remaining: 24.9s
29:	learn: 9.5248449	test: 8.0321100	best: 8.0321100 (29)	total: 4.37s	remaining: 24.8s
30:	learn: 9.4644241	test: 7.9920350	best: 7.9920350 (30)	total: 4.51s	remaining: 24.6s
31:	learn: 9.3550574	test: 7.9174102	best: 7.9174102 (31)	total: 4.65s	remaining: 24.4s
32:	learn: 9.3188837	test: 7.9135014	best: 7.9135014 (32)	total: 4.79s	remaining: 24.3s
33:	learn: 9.1817931	test: 7.8803309	best: 7.8803309 (33)	total: 4.94s	remaining: 24.1s
34:	learn: 9.1170941	test: 7.8584675	best: 7.8584675 (34)	total: 5.09s	remaining: 24s
35:	learn: 9.0678239	test: 7.8548602	best: 7.8548602 (35)	total: 5.22s	remaining: 23.8s
36:	learn: 8.9241683	test: 7.7364034	best: 7.7364034 (36)	total: 5.37s	remaining: 23.7s
37:	learn: 8.8772856	test: 7.7081629	best: 7.7081629 (37)	total: 5.51s	remaining: 23.5s
38:	learn: 8.8467169	test: 7.6842887	best: 7.6842887 (38)	total: 5.66s	remaining: 23.4s
39:	learn: 8.7777544	test: 7.6538386	best: 7.6538386 (39)	total: 5.8s	remaining: 23.2s
40:	learn: 8.7113652	test: 7.6431474	best: 7.6431474 (40)	total: 5.95s	remaining: 23.1s
41:	learn: 8.6483795	test: 7.6029331	best: 7.6029331 (41)	total: 6.09s	remaining: 22.9s
42:	learn: 8.5785422	test: 7.5557758	best: 7.5557758 (42)	total: 6.23s	remaining: 22.8s
43:	learn: 8.5509103	test: 7.5444313	best: 7.5444313 (43)	total: 6.38s	remaining: 22.6s
44:	learn: 8.4797247	test: 7.5007067	best: 7.5007067 (44)	total: 6.52s	remaining: 22.5s
45:	learn: 8.4506532	test: 7.4915491	best: 7.4915491 (45)	total: 6.66s	remaining: 22.3s
46:	learn: 8.4243268	test: 7.4888400	best: 7.4888400 (46)	total: 6.81s	remaining: 22.2s
47:	learn: 8.3925038	test: 7.4683962	best: 7.4683962 (47)	total: 6.94s	remaining: 22s
48:	learn: 8.3282166	test: 7.4175208	best: 7.4175208 (48)	total: 7.09s	remaining: 21.8s
49:	learn: 8.2974059	test: 7.4005656	best: 7.4005656 (49)	total: 7.23s	remaining: 21.7s
50:	learn: 8.2637827	test: 7.3928305	best: 7.3928305 (50)	total: 7.38s	remaining: 21.5s
51:	learn: 8.2088182	test: 7.3865471	best: 7.3865471 (51)	total: 7.51s	remaining: 21.4s
52:	learn: 8.1937881	test: 7.3771522	best: 7.3771522 (52)	total: 7.65s	remaining: 21.2s
53:	learn: 8.1819552	test: 7.3661563	best: 7.3661563 (53)	total: 7.79s	remaining: 21.1s
54:	learn: 8.1679219	test: 7.3605454	best: 7.3605454 (54)	total: 7.93s	remaining: 20.9s
55:	learn: 8.1338431	test: 7.3477119	best: 7.3477119 (55)	total: 8.07s	remaining: 20.8s
56:	learn: 8.1113866	test: 7.3446069	best: 7.3446069 (56)	total: 8.21s	remaining: 20.6s
57:	learn: 8.0897406	test: 7.3333088	best: 7.3333088 (57)	total: 8.37s	remaining: 20.5s
58:	learn: 8.0815492	test: 7.3248699	best: 7.3248699 (58)	total: 8.51s	remaining: 20.3s
59:	learn: 8.0339029	test: 7.2774834	best: 7.2774834 (59)	total: 8.65s	remaining: 20.2s
60:	learn: 7.9935234	test: 7.2417680	best: 7.2417680 (60)	total: 8.79s	remaining: 20s
61:	learn: 7.9737949	test: 7.2320961	best: 7.2320961 (61)	total: 8.93s	remaining: 19.9s
62:	learn: 7.9569319	test: 7.2217012	best: 7.2217012 (62)	total: 9.07s	remaining: 19.7s
63:	learn: 7.9379327	test: 7.2026295	best: 7.2026295 (63)	total: 9.21s	remaining: 19.6s
64:	learn: 7.9290882	test: 7.2004111	best: 7.2004111 (64)	total: 9.37s	remaining: 19.5s
65:	learn: 7.9159771	test: 7.1926422	best: 7.1926422 (65)	total: 9.51s	remaining: 19.3s
66:	learn: 7.8958991	test: 7.1836206	best: 7.1836206 (66)	total: 9.66s	remaining: 19.2s
67:	learn: 7.8670086	test: 7.1676824	best: 7.1676824 (67)	total: 9.79s	remaining: 19s
68:	learn: 7.8381629	test: 7.1636592	best: 7.1636592 (68)	total: 9.93s	remaining: 18.9s
69:	learn: 7.8315783	test: 7.1549797	best: 7.1549797 (69)	total: 10.1s	remaining: 18.7s
70:	learn: 7.8101501	test: 7.1417215	best: 7.1417215 (70)	total: 10.2s	remaining: 18.5s
71:	learn: 7.8002918	test: 7.1339707	best: 7.1339707 (71)	total: 10.3s	remaining: 18.4s
72:	learn: 7.7897662	test: 7.1252362	best: 7.1252362 (72)	total: 10.5s	remaining: 18.3s
73:	learn: 7.7826142	test: 7.1222543	best: 7.1222543 (73)	total: 10.6s	remaining: 18.1s
74:	learn: 7.7626136	test: 7.1080617	best: 7.1080617 (74)	total: 10.8s	remaining: 18s
75:	learn: 7.7544941	test: 7.1093722	best: 7.1080617 (74)	total: 10.9s	remaining: 17.8s
76:	learn: 7.7265580	test: 7.0815701	best: 7.0815701 (76)	total: 11.1s	remaining: 17.7s
77:	learn: 7.7112015	test: 7.0702749	best: 7.0702749 (77)	total: 11.2s	remaining: 17.5s
78:	learn: 7.6914760	test: 7.0653659	best: 7.0653659 (78)	total: 11.3s	remaining: 17.4s
79:	learn: 7.6799401	test: 7.0582906	best: 7.0582906 (79)	total: 11.5s	remaining: 17.2s
80:	learn: 7.6643100	test: 7.0476774	best: 7.0476774 (80)	total: 11.6s	remaining: 17.1s
81:	learn: 7.6523086	test: 7.0423405	best: 7.0423405 (81)	total: 11.8s	remaining: 16.9s
82:	learn: 7.6492557	test: 7.0428711	best: 7.0423405 (81)	total: 11.9s	remaining: 16.8s
83:	learn: 7.6415962	test: 7.0393400	best: 7.0393400 (83)	total: 12.1s	remaining: 16.7s
84:	learn: 7.6365218	test: 7.0367511	best: 7.0367511 (84)	total: 12.2s	remaining: 16.5s
85:	learn: 7.6326805	test: 7.0376521	best: 7.0367511 (84)	total: 12.3s	remaining: 16.3s
86:	learn: 7.6211975	test: 7.0303281	best: 7.0303281 (86)	total: 12.5s	remaining: 16.2s
87:	learn: 7.6158817	test: 7.0303470	best: 7.0303281 (86)	total: 12.6s	remaining: 16.1s
88:	learn: 7.5959648	test: 7.0203054	best: 7.0203054 (88)	total: 12.8s	remaining: 15.9s
89:	learn: 7.5867404	test: 7.0155954	best: 7.0155954 (89)	total: 12.9s	remaining: 15.8s
90:	learn: 7.5715536	test: 6.9994254	best: 6.9994254 (90)	total: 13.1s	remaining: 15.6s
91:	learn: 7.5642180	test: 6.9924901	best: 6.9924901 (91)	total: 13.2s	remaining: 15.5s
92:	learn: 7.5538039	test: 6.9908173	best: 6.9908173 (92)	total: 13.3s	remaining: 15.3s
93:	learn: 7.5431854	test: 6.9827922	best: 6.9827922 (93)	total: 13.5s	remaining: 15.2s
94:	learn: 7.5366146	test: 6.9770941	best: 6.9770941 (94)	total: 13.6s	remaining: 15s
95:	learn: 7.5336343	test: 6.9769120	best: 6.9769120 (95)	total: 13.8s	remaining: 14.9s
96:	learn: 7.5277992	test: 6.9762160	best: 6.9762160 (96)	total: 13.9s	remaining: 14.8s
97:	learn: 7.5234872	test: 6.9710952	best: 6.9710952 (97)	total: 14s	remaining: 14.6s
98:	learn: 7.5167481	test: 6.9675198	best: 6.9675198 (98)	total: 14.2s	remaining: 14.5s
99:	learn: 7.5085112	test: 6.9646289	best: 6.9646289 (99)	total: 14.3s	remaining: 14.3s
100:	learn: 7.5027549	test: 6.9665325	best: 6.9646289 (99)	total: 14.5s	remaining: 14.2s
101:	learn: 7.4978205	test: 6.9649231	best: 6.9646289 (99)	total: 14.6s	remaining: 14s
102:	learn: 7.4922063	test: 6.9614589	best: 6.9614589 (102)	total: 14.7s	remaining: 13.9s
103:	learn: 7.4882166	test: 6.9617693	best: 6.9614589 (102)	total: 14.9s	remaining: 13.7s
104:	learn: 7.4828752	test: 6.9605668	best: 6.9605668 (104)	total: 15s	remaining: 13.6s
105:	learn: 7.4776112	test: 6.9595626	best: 6.9595626 (105)	total: 15.2s	remaining: 13.4s
106:	learn: 7.4673875	test: 6.9521739	best: 6.9521739 (106)	total: 15.3s	remaining: 13.3s
107:	learn: 7.4638186	test: 6.9520605	best: 6.9520605 (107)	total: 15.4s	remaining: 13.1s
108:	learn: 7.4610384	test: 6.9538643	best: 6.9520605 (107)	total: 15.6s	remaining: 13s
109:	learn: 7.4597620	test: 6.9517860	best: 6.9517860 (109)	total: 15.7s	remaining: 12.9s
110:	learn: 7.4562742	test: 6.9542549	best: 6.9517860 (109)	total: 15.9s	remaining: 12.7s
111:	learn: 7.4529345	test: 6.9528759	best: 6.9517860 (109)	total: 16s	remaining: 12.6s
112:	learn: 7.4497736	test: 6.9483301	best: 6.9483301 (112)	total: 16.2s	remaining: 12.4s
113:	learn: 7.4481902	test: 6.9468021	best: 6.9468021 (113)	total: 16.3s	remaining: 12.3s
114:	learn: 7.4456964	test: 6.9439647	best: 6.9439647 (114)	total: 16.4s	remaining: 12.2s
115:	learn: 7.4431500	test: 6.9469745	best: 6.9439647 (114)	total: 16.6s	remaining: 12s
116:	learn: 7.4407215	test: 6.9437930	best: 6.9437930 (116)	total: 16.7s	remaining: 11.9s
117:	learn: 7.4376524	test: 6.9421999	best: 6.9421999 (117)	total: 16.9s	remaining: 11.7s
118:	learn: 7.4335381	test: 6.9409746	best: 6.9409746 (118)	total: 17s	remaining: 11.6s
119:	learn: 7.4300306	test: 6.9382202	best: 6.9382202 (119)	total: 17.1s	remaining: 11.4s
120:	learn: 7.4279912	test: 6.9400135	best: 6.9382202 (119)	total: 17.3s	remaining: 11.3s
121:	learn: 7.4188715	test: 6.9362328	best: 6.9362328 (121)	total: 17.4s	remaining: 11.1s
122:	learn: 7.4147522	test: 6.9334816	best: 6.9334816 (122)	total: 17.6s	remaining: 11s
123:	learn: 7.4124504	test: 6.9321083	best: 6.9321083 (123)	total: 17.7s	remaining: 10.9s
124:	learn: 7.4080378	test: 6.9299307	best: 6.9299307 (124)	total: 17.9s	remaining: 10.7s
125:	learn: 7.4043375	test: 6.9279036	best: 6.9279036 (125)	total: 18s	remaining: 10.6s
126:	learn: 7.4000368	test: 6.9267205	best: 6.9267205 (126)	total: 18.2s	remaining: 10.4s
127:	learn: 7.3953993	test: 6.9257923	best: 6.9257923 (127)	total: 18.3s	remaining: 10.3s
128:	learn: 7.3926663	test: 6.9263944	best: 6.9257923 (127)	total: 18.4s	remaining: 10.2s
129:	learn: 7.3911252	test: 6.9249207	best: 6.9249207 (129)	total: 18.6s	remaining: 10s
130:	learn: 7.3860399	test: 6.9229111	best: 6.9229111 (130)	total: 18.7s	remaining: 9.87s
131:	learn: 7.3843445	test: 6.9198544	best: 6.9198544 (131)	total: 18.9s	remaining: 9.73s
132:	learn: 7.3824991	test: 6.9197299	best: 6.9197299 (132)	total: 19s	remaining: 9.58s
133:	learn: 7.3787456	test: 6.9171390	best: 6.9171390 (133)	total: 19.2s	remaining: 9.44s
134:	learn: 7.3775477	test: 6.9157494	best: 6.9157494 (134)	total: 19.3s	remaining: 9.29s
135:	learn: 7.3755385	test: 6.9142066	best: 6.9142066 (135)	total: 19.4s	remaining: 9.15s
136:	learn: 7.3736176	test: 6.9126402	best: 6.9126402 (136)	total: 19.6s	remaining: 9.02s
137:	learn: 7.3707892	test: 6.9088413	best: 6.9088413 (137)	total: 19.8s	remaining: 8.87s
138:	learn: 7.3688731	test: 6.9074628	best: 6.9074628 (138)	total: 19.9s	remaining: 8.73s
139:	learn: 7.3675562	test: 6.9050876	best: 6.9050876 (139)	total: 20s	remaining: 8.59s
140:	learn: 7.3658182	test: 6.9026358	best: 6.9026358 (140)	total: 20.2s	remaining: 8.45s
141:	learn: 7.3626257	test: 6.9007466	best: 6.9007466 (141)	total: 20.3s	remaining: 8.3s
142:	learn: 7.3585449	test: 6.8979407	best: 6.8979407 (142)	total: 20.5s	remaining: 8.16s
143:	learn: 7.3552611	test: 6.8945361	best: 6.8945361 (143)	total: 20.6s	remaining: 8.02s
144:	learn: 7.3535300	test: 6.8933503	best: 6.8933503 (144)	total: 20.8s	remaining: 7.88s
145:	learn: 7.3518464	test: 6.8924475	best: 6.8924475 (145)	total: 20.9s	remaining: 7.74s
146:	learn: 7.3507053	test: 6.8918208	best: 6.8918208 (146)	total: 21.1s	remaining: 7.59s
147:	learn: 7.3498334	test: 6.8921716	best: 6.8918208 (146)	total: 21.2s	remaining: 7.45s
148:	learn: 7.3479482	test: 6.8922188	best: 6.8918208 (146)	total: 21.3s	remaining: 7.3s
149:	learn: 7.3455904	test: 6.8909640	best: 6.8909640 (149)	total: 21.5s	remaining: 7.16s
150:	learn: 7.3439913	test: 6.8902388	best: 6.8902388 (150)	total: 21.6s	remaining: 7.02s
151:	learn: 7.3419416	test: 6.8909180	best: 6.8902388 (150)	total: 21.8s	remaining: 6.87s
152:	learn: 7.3409557	test: 6.8905716	best: 6.8902388 (150)	total: 21.9s	remaining: 6.73s
153:	learn: 7.3401205	test: 6.8908107	best: 6.8902388 (150)	total: 22s	remaining: 6.58s
154:	learn: 7.3388737	test: 6.8889165	best: 6.8889165 (154)	total: 22.2s	remaining: 6.44s
155:	learn: 7.3371452	test: 6.8889606	best: 6.8889165 (154)	total: 22.3s	remaining: 6.3s
156:	learn: 7.3353811	test: 6.8879113	best: 6.8879113 (156)	total: 22.5s	remaining: 6.16s
157:	learn: 7.3340737	test: 6.8875220	best: 6.8875220 (157)	total: 22.6s	remaining: 6.02s
158:	learn: 7.3331594	test: 6.8859910	best: 6.8859910 (158)	total: 22.8s	remaining: 5.88s
159:	learn: 7.3317237	test: 6.8852695	best: 6.8852695 (159)	total: 22.9s	remaining: 5.73s
160:	learn: 7.3304132	test: 6.8847913	best: 6.8847913 (160)	total: 23.1s	remaining: 5.59s
161:	learn: 7.3296057	test: 6.8848171	best: 6.8847913 (160)	total: 23.2s	remaining: 5.44s
162:	learn: 7.3288834	test: 6.8846620	best: 6.8846620 (162)	total: 23.3s	remaining: 5.3s
163:	learn: 7.3282652	test: 6.8845236	best: 6.8845236 (163)	total: 23.5s	remaining: 5.16s
164:	learn: 7.3270501	test: 6.8838135	best: 6.8838135 (164)	total: 23.6s	remaining: 5.01s
165:	learn: 7.3252080	test: 6.8821220	best: 6.8821220 (165)	total: 23.8s	remaining: 4.87s
166:	learn: 7.3243773	test: 6.8831961	best: 6.8821220 (165)	total: 23.9s	remaining: 4.73s
167:	learn: 7.3218255	test: 6.8823337	best: 6.8821220 (165)	total: 24.1s	remaining: 4.58s
168:	learn: 7.3206783	test: 6.8804522	best: 6.8804522 (168)	total: 24.2s	remaining: 4.44s
169:	learn: 7.3193238	test: 6.8801343	best: 6.8801343 (169)	total: 24.3s	remaining: 4.29s
170:	learn: 7.3179858	test: 6.8797726	best: 6.8797726 (170)	total: 24.5s	remaining: 4.15s
171:	learn: 7.3168936	test: 6.8793837	best: 6.8793837 (171)	total: 24.6s	remaining: 4.01s
172:	learn: 7.3163920	test: 6.8789003	best: 6.8789003 (172)	total: 24.8s	remaining: 3.87s
173:	learn: 7.3154471	test: 6.8777223	best: 6.8777223 (173)	total: 24.9s	remaining: 3.72s
174:	learn: 7.3144496	test: 6.8774015	best: 6.8774015 (174)	total: 25.1s	remaining: 3.58s
175:	learn: 7.3136577	test: 6.8764112	best: 6.8764112 (175)	total: 25.2s	remaining: 3.44s
176:	learn: 7.3129338	test: 6.8767402	best: 6.8764112 (175)	total: 25.4s	remaining: 3.29s
177:	learn: 7.3121554	test: 6.8765771	best: 6.8764112 (175)	total: 25.5s	remaining: 3.15s
178:	learn: 7.3105584	test: 6.8762057	best: 6.8762057 (178)	total: 25.7s	remaining: 3.01s
179:	learn: 7.3098934	test: 6.8764605	best: 6.8762057 (178)	total: 25.8s	remaining: 2.87s
180:	learn: 7.3086895	test: 6.8768785	best: 6.8762057 (178)	total: 26s	remaining: 2.73s
181:	learn: 7.3072513	test: 6.8771007	best: 6.8762057 (178)	total: 26.1s	remaining: 2.58s
182:	learn: 7.3065699	test: 6.8758385	best: 6.8758385 (182)	total: 26.2s	remaining: 2.44s
183:	learn: 7.3058900	test: 6.8755687	best: 6.8755687 (183)	total: 26.4s	remaining: 2.29s
184:	learn: 7.3050793	test: 6.8752801	best: 6.8752801 (184)	total: 26.5s	remaining: 2.15s
185:	learn: 7.3045336	test: 6.8750646	best: 6.8750646 (185)	total: 26.7s	remaining: 2.01s
186:	learn: 7.3037525	test: 6.8755237	best: 6.8750646 (185)	total: 26.8s	remaining: 1.86s
187:	learn: 7.3031546	test: 6.8756380	best: 6.8750646 (185)	total: 27s	remaining: 1.72s
188:	learn: 7.3015616	test: 6.8750965	best: 6.8750646 (185)	total: 27.1s	remaining: 1.58s
189:	learn: 7.3007113	test: 6.8747082	best: 6.8747082 (189)	total: 27.3s	remaining: 1.43s
190:	learn: 7.2999543	test: 6.8744921	best: 6.8744921 (190)	total: 27.4s	remaining: 1.29s
191:	learn: 7.2988630	test: 6.8743118	best: 6.8743118 (191)	total: 27.5s	remaining: 1.15s
192:	learn: 7.2974087	test: 6.8738520	best: 6.8738520 (192)	total: 27.7s	remaining: 1s
193:	learn: 7.2967245	test: 6.8733259	best: 6.8733259 (193)	total: 27.8s	remaining: 861ms
194:	learn: 7.2957456	test: 6.8726316	best: 6.8726316 (194)	total: 28s	remaining: 717ms
195:	learn: 7.2953455	test: 6.8723888	best: 6.8723888 (195)	total: 28.1s	remaining: 574ms
196:	learn: 7.2946150	test: 6.8723623	best: 6.8723623 (196)	total: 28.3s	remaining: 431ms
197:	learn: 7.2936375	test: 6.8723975	best: 6.8723623 (196)	total: 28.4s	remaining: 287ms
198:	learn: 7.2927152	test: 6.8722440	best: 6.8722440 (198)	total: 28.6s	remaining: 144ms
199:	learn: 7.2921339	test: 6.8722224	best: 6.8722224 (199)	total: 28.7s	remaining: 0us

bestTest = 6.872222397
bestIteration = 199

In [ ]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name   Score
0                     SMAPE  13.471
1                       MAE   5.309
2     Median Absolute Error   4.244
3        Mean Squared Error  47.227
4                 Max Error  36.377
5                  R2 Score   0.917
6  Explained Variance Score   0.917

In [ ]:
# now prediction of actual test data for submission
y_pred = model.predict(test_df.values)

sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_cb.csv", index=False)
sample_df.head()

   id      sales
0   0  12.024849
1   1  13.822182
2   2  13.872539
3   3  14.491420
4   4  15.831704

## Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()
model.fit(train.values, sales_train.values)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, random_state=None,
                      splitter='best')

In [ ]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name   Score
0                     SMAPE  14.972
1                       MAE   5.914
2     Median Absolute Error   4.750
3        Mean Squared Error  59.487
4                 Max Error  46.250
5                  R2 Score   0.895
6  Explained Variance Score   0.900

In [ ]:
# now prediction of actual test data for submission
y_pred = model.predict(test_df.values)

sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_dt.csv", index=False)
sample_df.head()

   id  sales
0   0  10.25
1   1  15.00
2   2  13.00
3   3  14.75
4   4  15.40

## Light GBM

In [ ]:
from lightgbm import LGBMRegressor

model = LGBMRegressor()
model.fit(train.values, sales_train.values, verbose=True, early_stopping_rounds=20, eval_set=(val.values, sales_val.values))

[1]	valid_0's l2: 584.19
[2]	valid_0's l2: 561.64
[3]	valid_0's l2: 524.281
[4]	valid_0's l2: 506.43
[5]	valid_0's l2: 473.732
[6]	valid_0's l2: 450.229
[7]	valid_0's l2: 428.166
[8]	valid_0's l2: 416.79
[9]	valid_0's l2: 394.807
[10]	valid_0's l2: 374.03
[11]	valid_0's l2: 363.919
[12]	valid_0's l2: 361.482
[13]	valid_0's l2: 342.619
[14]	valid_0's l2: 330.144
[15]	valid_0's l2: 300.307
[16]	valid_0's l2: 297.294
[17]	valid_0's l2: 268.072
[18]	valid_0's l2: 257.175
[19]	valid_0's l2: 254.052
[20]	valid_0's l2: 247.8
[21]	valid_0's l2: 225.654
[22]	valid_0's l2: 227.765
[23]	valid_0's l2: 223.403
[24]	valid_0's l2: 217.933
[25]	valid_0's l2: 214.066
[26]	valid_0's l2: 204.363
[27]	valid_0's l2: 202.691
[28]	valid_0's l2: 198.104
[29]	valid_0's l2: 199.247
[30]	valid_0's l2: 196.216
[31]	valid_0's l2: 181.023
[32]	valid_0's l2: 176.559
[33]	valid_0's l2: 174.482
[34]	valid_0's l2: 163.458
[35]	valid_0's l2: 158.113
[36]	valid_0's l2: 154.468
[37]	valid_0's l2: 144.422
[38]	valid_0's l2: 144.924
[39]	valid_0's l2: 143.467
[40]	valid_0's l2: 140.108
[41]	valid_0's l2: 139.117
[42]	valid_0's l2: 130.897
[43]	valid_0's l2: 129.581
[44]	valid_0's l2: 127.974
[45]	valid_0's l2: 120.787
[46]	valid_0's l2: 116.224
[47]	valid_0's l2: 115.711
[48]	valid_0's l2: 112.451
[49]	valid_0's l2: 112.039
[50]	valid_0's l2: 111.263
[51]	valid_0's l2: 106.249
[52]	valid_0's l2: 104.814
[53]	valid_0's l2: 103.429
[54]	valid_0's l2: 103.06
[55]	valid_0's l2: 97.9926
[56]	valid_0's l2: 96.014
[57]	valid_0's l2: 95.4894
[58]	valid_0's l2: 93.9862
[59]	valid_0's l2: 90.074
[60]	valid_0's l2: 89.6014
[61]	valid_0's l2: 87.7645
[62]	valid_0's l2: 86.8326
[63]	valid_0's l2: 86.0433
[64]	valid_0's l2: 85.0315
[65]	valid_0's l2: 84.6852
[66]	valid_0's l2: 83.9735
[67]	valid_0's l2: 82.0608
[68]	valid_0's l2: 81.6475
[69]	valid_0's l2: 80.763
[70]	valid_0's l2: 79.3188
[71]	valid_0's l2: 79.1634
[72]	valid_0's l2: 77.9345
[73]	valid_0's l2: 77.4952
[74]	valid_0's l2: 76.5265
[75]	valid_0's l2: 75.1901
[76]	valid_0's l2: 73.3123
[77]	valid_0's l2: 73.197
[78]	valid_0's l2: 73.3143
[79]	valid_0's l2: 71.8758
[80]	valid_0's l2: 71.4325
[81]	valid_0's l2: 70.6452
[82]	valid_0's l2: 70.2432
[83]	valid_0's l2: 70.0764
[84]	valid_0's l2: 69.5766
[85]	valid_0's l2: 68.9956
[86]	valid_0's l2: 68.6566
[87]	valid_0's l2: 68.2519
[88]	valid_0's l2: 68.2257
[89]	valid_0's l2: 67.9879
[90]	valid_0's l2: 67.5761
[91]	valid_0's l2: 67.5589
[92]	valid_0's l2: 66.4608
[93]	valid_0's l2: 65.7055
[94]	valid_0's l2: 65.0031
[95]	valid_0's l2: 64.8737
[96]	valid_0's l2: 64.6415
[97]	valid_0's l2: 63.944
[98]	valid_0's l2: 63.7408
[99]	valid_0's l2: 63.5049
[100]	valid_0's l2: 63.3843

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=-1,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name   Score
0                     SMAPE  16.073
1                       MAE   6.261
2     Median Absolute Error   5.224
3        Mean Squared Error  63.384
4                 Max Error  49.278
5                  R2 Score   0.888
6  Explained Variance Score   0.892

In [ ]:
# now prediction of actual test data for submission
y_pred = model.predict(test_df.values)

sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_lgbm.csv", index=False)
sample_df.head()

   id      sales
0   0  16.561062
1   1  17.444016
2   2  17.444016
3   3  18.268907
4   4  17.977213

## Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(train.values, sales_train.values)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False,
                 positive=False)

In [ ]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name    Score
0                     SMAPE   48.924
1                       MAE   22.671
2     Median Absolute Error   21.663
3        Mean Squared Error  717.116
4                 Max Error   90.323
5                  R2 Score   -0.266
6  Explained Variance Score    0.066

In [ ]:
# now prediction of actual test data for submission
y_pred = model.predict(test_df.values)

sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_lr.csv", index=False)
sample_df.head()

   id      sales
0   0  57.005051
1   1  60.219296
2   2  63.433540
3   3  66.647785
4   4  69.862029

## Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=200, n_jobs=-1)
model.fit(train.values, sales_train.values)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=-1, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name   Score
0                     SMAPE  14.945
1                       MAE   5.905
2     Median Absolute Error   4.690
3        Mean Squared Error  59.301
4                 Max Error  46.071
5                  R2 Score   0.895
6  Explained Variance Score   0.900

In [ ]:
# now prediction of actual test data for submission
y_pred = model.predict(test_df.values)

sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_rf.csv", index=False)
sample_df.head()

   id      sales
0   0  10.180202
1   1  15.008175
2   2  13.084671
3   3  14.706119
4   4  15.293183

## XGBoost

In [ ]:
import xgboost
model = xgboost.XGBRegressor(n_estimators = 200, seed = 21)
model.fit(train.values, sales_train.values, verbose=True)

[15:15:45] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(n_estimators=200, seed=21)

In [ ]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name   Score
0                     SMAPE  20.025
1                       MAE   7.520
2     Median Absolute Error   6.270
3        Mean Squared Error  91.563
4                 Max Error  58.065
5                  R2 Score   0.838
6  Explained Variance Score   0.846

In [ ]:
# now prediction of actual test data for submission
y_pred = model.predict(test_df.values)

sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_xg.csv", index=False)
sample_df.head()

   id      sales
0   0   7.431525
1   1  12.538452
2   2  12.538452
3   3  14.524738
4   4  17.086143

## MLP (Neural Network)

In [ ]:
from sklearn.neural_network import MLPRegressor
model = MLPRegressor(hidden_layer_sizes=(32,32,32), activation="relu", random_state=1, max_iter=10).fit(train.values, sales_train.values)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:696: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (10) reached and the optimization hasn't converged yet.
  ConvergenceWarning,

In [ ]:
y_pred = model.predict(val.values)
regression_report(sales_val.values, y_pred)

                Metric Name    Score
0                     SMAPE   38.664
1                       MAE   15.954
2     Median Absolute Error   12.840
3        Mean Squared Error  426.312
4                 Max Error  105.151
5                  R2 Score    0.247
6  Explained Variance Score    0.300

In [ ]:
# now prediction of actual test data for submission
y_pred = model.predict(test_df.values)

sample_df = pd.read_csv("https://drive.google.com/uc?id=1VUhb4Jv2BbeE3jLef3vuTMhWDnf3z_JD")
sample_df['sales'] = y_pred
sample_df.to_csv("submission_mlp.csv", index=False)
sample_df.head()

   id     sales
0   0  1.600727
1   1  1.533796
2   2  2.700584
3   3  4.051600
4   4  6.807449